.head{
    color: $primary-color-dark;
}
.d-item{
    display:flex;
    text-align: center;
    color: var(--blue-800);
    justify-content: space-between;

    .pi{
        font-size: 4em;
        margin-bottom: 15px;
    }
    .name{
        font-size: 1.4em;
    }
    .number{
        margin: top 50px;
        font-size:3em;
    }
}
.d-orders{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.d-products{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.d-users{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.d-totalsales{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    .number{
        margin-top: 100px;
        font-size: 2em;
        color: rgb(4, 174, 4);
}
}