<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest Updates" styleClass="head">
    <div class="grid">
      <div class="col-3">
        <p-card styleClass="d-orders">
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i><br />
              <span class="name">Orders</span>
            </div>
            <div>
              <span class="number">{{ orders }}</span>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-products">
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i><br />
              <span class="name">Products</span>
            </div>
            <div>
              <span class="number">{{ products }}</span>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-users">
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i><br />
              <span class="name">users</span>
            </div>
            <div>
              <span class="number">{{ users }}</span>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-3">
        <p-card styleClass="d-totalsales">
          <div class="d-item">
            <div>
              <i class="pi pi-chart-line"></i><br />
              <span class="name">Total Sales</span>
            </div>
            <div>
              <span class="number"
                ><b>{{ totalsales }} &#8377;</b>
              </span>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
