<deepbits-header></deepbits-header>
<router-outlet></router-outlet>
<deepbits-footer></deepbits-footer>
<ui-banner></ui-banner>
<div class="card">
    <div class="card-container blue-container flex align-items-center justify-content-start">
        <div class="hidden w-4rem h-4rem bg-blue-500 text-white font-bold p-4 border-round mr-3">1</div>
        <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>
        <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
    </div>
</div>

<div class="card">
    <div class="card-container yellow-container">
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">1</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">2</div>
        <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
    </div>
</div>
<div class="grid"> 
    <div class="col">1</div> 
    <div class="col">2</div> 
    <div class="col">3</div> 
</div>